/* Navbar */
#top_nav {
    background-color: #daac00 !important;
    padding: 0.5% 8%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 25px;
}

#searchBox {
    background-color: #fcc302;
    border: 0;
    border-radius: 0;
    position: relative;
    left: 50px;
    box-shadow: 5px 10px 11px 0 #00000021;
}

#searchBox::placeholder {
    color: white;
}

#searchBtn {
    position: relative;
    z-index: 99;
    background-color: #00bec9;
    color: white;
    border: 0;
    border-radius: 0;
    margin-left: 2px;
}

@media only screen and (max-width: 992px) {
    #searchForm {
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -20px;
    }
}

@media only screen and (max-width: 768px) {
    #searchForm {
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -20px;
    }
}

@media only screen and (max-width: 500px) {
    #top_nav {
        padding: 0;
    }
}

/* Banner */
#banner {
    background-color: #fcc302;
    padding-bottom: 20px;
}

#bannerText h1 {
    color: white;
    font-size: 70px;
    margin-top: 100px;
}

#bannerText p {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#banner-btn-1 {
    background-color: #00bec9;
    border: 2px solid #00bec9;
    color: white;
}

#banner-btn-2 {
    border: 2px solid white;
    margin-left: 15px;
    color: white;
}

@media only screen and (max-width: 1300px) {
    #bannerText h1 {
        font-size: 50px;
    }

    #banner {
        padding-bottom: 70px;
    }
}

@media only screen and (max-width: 900px) {
    #bannerText h1 {
        font-size: 40px;
    }

    #bannerImg {
        padding-top: 70px;
    }
}

/* Service */
#service-text {
    padding-top: 10%;
    padding-bottom: 5%;
}

#service-btn {
    background-color: #fcc302;
    border: 2px solid #fcc302;
    color: white;
}

#service-img {
    padding: 8%;
}

@media only screen and (max-width: 768px) {
    #service-img {
        padding-top: 10%;
    }
}

/* Counter */
#counter-section {
    background-image: url("images/Image (2).png");
    padding-top: 50px;
    padding-bottom: 70px;
    background-position: center;
    background-size: cover;
}

.counter-icon {
    font-size: 70px;
}

@media only screen and (max-width: 500px) {
    .counter-icon {
        font-size: 50px;
    }
}

/* Blog */
#blog {
    padding-bottom: 70px;
    padding-top: 70px;
    width: 100%;
}

#blog-title {
    font-size: 50px;
    font-weight: bolder;
}

#blog-p {
    font-size: 20px;
    margin-bottom: 70px;
}

.article-detail {
    padding: 15px;
    border: 1px solid rgb(185, 185, 185);
    border-top: 0;
}

.article-date, .article-link {
    color: #00bec9;
}

/* Footer */
#footer {
    background-color: #343434;
    padding-bottom: 80px;
    padding-top: 80px;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer-search-box {
    background-color: #fcc302;
    color: white;
    border: 0;
    padding: 15px;
    width: 100%;
    max-width: 250px;
    position: relative;
    left: 10px;
}

#footer-search-submit {
    background-color: #00bec9;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 15px 40px;
}

.social-icon {
    font-size: 25px;
    padding-left: 15px;
}

@media only screen and (max-width: 1150px) {
    #footer-search-box {
        max-width: 200px;
    }
}

@media only screen and (max-width: 768px) {
    #footer-search-box {
        max-width: 120px;
    }
}

@media only screen and (max-width: 354px) {
    #footer-search-box {
        position: absolute;
        margin-left: 22px;
    }
}

@media only screen and (max-width: 500px) {
    #footer-search-box {
        max-width: 200px;
    }

    #footer {
        padding-top: 10px;
    }

    #footer h4{
        padding-top: 50px;
    }
}